<%= form_for @encuesta do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <% f.fields_for :preguntas do |builder| %>
    <%= render 'pregunta_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Nueva Pregunta", f, :preguntas %></p>
  <p><%= f.submit %></p>
<% end %>
