<%= form_for @encuesta do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <% f.fields_for :preguntas do |builder| %>
    <p>
      <%= builder.label :content, "Pregunta" %><br />
      <%= builder.text_area :content, :rows => 3 %>
    </p>
  <% end %>
  <p><%= f.submit %></p>
<% end %>
