<p>
  <%= f.label :content, "Pregunta" %><br />
  <%= f.text_area :content, :rows => 3 %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Elimina la pregunta" %>
</p>
<% f.fields_for :respuestas do |builder| %>
  <%= render 'respuesta_fields', :f => builder %>
<% end%>
