<% title "Encuesta" %>

<p>
  <strong>Nombre:</strong>
  <%= @encuesta.nombre %>
</p>
<ol>
  <% for pregunta in @encuesta.preguntas %>
    <li><%= pregunta.content %></li>
    <ul>
      <% for respuesta in pregunta.respuestas %>
        <li><%= respuesta.contenido %></li>
      <% end %>
    </ul>
  <% end%>
</ol>

<p>
  <%= link_to "Edit", edit_encuesta_path(@encuesta) %> |
  <%= link_to "Destroy", @encuesta, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", encuestas_path %>
</p>
